/**Globales**/

html{
    font-size: 62.5%/** Reset de REMS 62.5 = 10px de 16px **/
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.contenidoheader{
    height:100%;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}


/* Header*/
.cabecera-sitio.inicio{
background-image:url(../img/header.jpg);
background-position: center center;
background-size: cover;
height:10rem;
min-height: 60rem;
}

.encabezado{
    color:greenyellow;
}

.mayusculas{
    text-transform: uppercase;
}

/*Navegacion*/

.navegacion a{
    color:white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover{
    color:red;
}

.navegacion a:last-of-type{
    margin:0;
}

h1{
    color:white;
}

.seccion{
    margin-top: 2rem;
    margin-bottom:2rem;    
    justify-content:space-between;
    align-content: center;

}
.icono{
    display: flex;
    align-content: space-between;
    
}



